<div {{bind-attr class=":alert :alert-success isSuccess::hidden"}}>Successfully saved changes</div>
<div>
  {{#if isEditing}}
    <button {{action "persist"}} class="btn btn-primary">Save</button>
    <button {{action "cancel"}} class="btn btn-danger">Cancel</button>
  {{else}}
    <button {{action "edit"}} class="btn btn-primary">Edit</button>
  {{/if}}
</div>

  {{#if isEditing}}
    {{input type="text" value=currentImageUrl}}
    <h2>{{input type="text" value=currentName}} {{input type="text" value=currentYear}}</h2>
    <div>{{textarea value=currentDescription cols="120" rows="8"}}</div>
  {{else}}
    <img {{bind-attr src=currentImageUrl}}>
    <h2>{{currentName}} ({{currentYear}})</h2>
    {{partial "movie/description"}}
  {{/if}}
{{outlet}}
